
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


body{
    font-family: "Plus Jakarta Sans", serif;
    overflow-x: hidden !important;
}





/* Styling for the dots */
.slick-dots {
    bottom: 20px;             /* Positioning the dots below the slider */
    display: flex;
    justify-content: center;  /* Center the dots horizontally */
}

.slick-dots li {
    margin: 0 5px;
}

.slick-dots li button {
    width: 10px;               /* Inactive dot width */
    height: 10px;              /* Inactive dot height */
    background: #ffffff;      /* Inactive dot background color */
    border-width: 1px;        /* Border width for inactive dot */
    border-radius: 50%;       /* Circular shape */
    border-color: #ffffff;    /* Border color */
    border-style: solid;      /* Solid border style */
    opacity: 1;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.slick-dots li.slick-active button {
    background: transparent;  /* Active dot background is transparent */
    border-color: #ffffff;    /* Active dot border color is white */
    transform: scale(1.2);     /* Slightly increase the size of the active dot */
}

/* Optional: Hover effect for inactive dots */
.slick-dots li button:hover {
    opacity: 1;
}
.slick-dots li button::before {
    content: ''; /* Remove the default prefix content */
    display: none; /* Hide the default prefix */
}


.hoverbefore::before {
  content: "";
    width: 0;
    height: 1px;
    background: var(--menu-color);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    transition: all .3s ease;
    background-color: black;
}
.hoverbefore:hover::before {
  width: 100%; /* Full width on hover */
  left: 0; /* Start from the left */
  transform: none; /* Reset centering */
}

.catogryproduct:hover{
  animation: shake 0.8s ease-in-out;
}

@keyframes shake {
  0% {
      transform: translateX(0);
  }
  25% {
      transform: translateX(-10px);
  }
  50% {
      transform: translateX(10px);
  }
  75% {
      transform: translateX(-5px);
  }
  100% {
      transform: translateX(0);
  }
}







  @keyframes marquee {
    0% {
      transform: translateX(0); /* Start at the current position */
    }
    100% {
      transform: translateX(-100%); /* Move completely out of view to the left */
    }
  }
  
.marquee {
 
    animation: marquee 5s linear infinite; /* Use the marquee animation */
    width: max-content;
  }

  .navul{
    display: flex;
    flex-direction: row !important;
  }


  .hoverbefore::before {
    content: "";
      width: 0;
      height: 1px;
      background: var(--menu-color);
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%);
      transition: all .3s ease;
      background-color: black;
  }
  .hoverbefore:hover::before {
    width: 100%; /* Full width on hover */
    left: 0; /* Start from the left */
    transform: none; /* Reset centering */
  }
  
  .icon-wrapper {
    background-color: white;
    padding: 12px;
    cursor: pointer;
    border-radius: 50%;
    position: relative;
    transition: background-color 0.3s ease;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Added transform transition */

  }
  
  .icon-wrapper:hover {
    background-color: black;
    transform: translateY(-5px); /* Moves the element up by 5px */

  }
  
  .icon-wrapper .icon {
    fill: black;
    transition: fill 0.3s ease;
  }
  
  .icon-wrapper:hover .icon {
    fill: white;
  }
  .icon-wrapper svg {
    fill: black;
    stroke: white;
    transition: all 0.3s ease;
  }
  
  .icon-wrapper:hover svg {
    fill: white;
    stroke: black;
  }
  .icon-wrapper:hover span {
    visibility: visible; /* Show the span when hovering over the icon-wrapper */
    
  }
  .icon-wrapper span{
    visibility: hidden;
  }

  /* SearchBox.css */

/* Style for search box container */
.search-box {
  position: fixed; /* Use fixed positioning to place it in the center of the screen */
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center it vertically and horizontally */
  width: 100%;
  max-width: 1200px; /* Max width of the box */
  max-height: calc(100% - 200px);
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 70px 90px;
  animation: slideInFromTop 0.5s ease-out;
  margin: auto;
  z-index: 9999;
}

/* Animation for search box slide-in */
@keyframes slideInFromTop {
  0% {
    top: -60px; /* Start from above */
    opacity: 0;
  }
  100% {
    top: 38%; /* Center vertically */
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    top: 50%; /* Start from center */
    opacity: 1;
  }
  100% {
    top: -60px; /* Slide up and hide */
    opacity: 0;
  }
}

/* Style for search input */
.search-input {
  display: flex;
    width: 100%;
    height: 50px;
    line-height: 48px;
    position: relative;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 1rem;
  outline: none;
  transition: all 0.3s ease;
  border: 1px solid #e7e7e7;
}

/* Style for close button */
.close-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease;
  position: absolute;
  right: 15px;
  top: 5px;
}

/* Close button hover effect */
.close-btn:hover {
  color: black;
}

.search-box.slide-out {
  animation: slideOut 0.8s ease-out forwards;
}
/* Additional styles */
.news_image{
  transition: all .8s ease;
}
.news_image img{
  transition: all .8s ease;
}














  @media screen and (max-width: 768px) {
    .slick-dots li button {
      width: 8px;              /* Smaller dot width for small screens */
      height: 8px;             /* Smaller dot height for small screens */
      border-width: 0.5px;     /* Thinner border for small screens */
      background-color: black; /* Background color for inactive dots */
      border-color: black;     /* Border color for inactive dots */
      border-style: solid;     /* Ensures border is solid */
    }
  
    .slick-dots li.slick-active button {
      transform: scale(1.1);   /* Slightly larger active dot size */
      border-color: black;     /* Active dot border color */
      background-color: transparent; /* Transparent background for active dots */
      border-width: 1px;       /* Slightly thicker border for active dots */
      border-style: solid;     /* Ensures border is solid */
    }


/* Style for search box container */
.search-box {
  position: fixed; /* Use fixed positioning to place it in the center of the screen */
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center it vertically and horizontally */
  width: 100%;
  max-width: 800px; /* Max width of the box */
  max-height: calc(100% - 200px);
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 20px;
  animation: slideInFromTop 0.5s ease-out;
  margin: auto !important;
  z-index: 9999;
}

/* Animation for search box slide-in */
@keyframes slideInFromTop {
  0% {
    top: -60px; /* Start from above */
    opacity: 0;
  }
  100% {
    top: 30%; /* Center vertically */
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    top: 50%; /* Start from center */
    opacity: 1;
  }
  100% {
    top: -60px; /* Slide up and hide */
    opacity: 0;
  }
}









  }

