
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


body{
    font-family: "Plus Jakarta Sans", serif;

    overflow-x: hidden !important;

}







.slick-dots {
    bottom: 20px;           
    display: flex;
    justify-content: center; 
}

.slick-dots li {
    margin: 0 5px;
}

.slick-dots li button {
    width: 10px;              
    height: 10px;            
    background: #ffffff;     
    border-width: 1px;      
    border-radius: 50%;      
    border-color: #ffffff;   
    border-style: solid;     
    opacity: 1;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.slick-dots li.slick-active button {
    background: transparent; 
    border-color: #ffffff;   
    transform: scale(1.2);   
}

.slick-dots li button:hover {
    opacity: 1;
}
.slick-dots li button::before {
    content: ''; 
    display: none; 
}

  .navul{
    display: flex;
    flex-direction: row !important;
  }
  


  @media screen and (max-width: 768px) {
    
    .slick-dots li button {
      width: 8px;             
      height: 8px;            
      border-width: 0.5px;     
      background-color: black;
      border-color: black;   
      border-style: solid;   
    }
  
    .slick-dots li.slick-active button {
      transform: scale(1.1);  
      border-color: black;   
      background-color: transparent; 
      border-width: 1px;      
      border-style: solid;   
    }


/* .search-box {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 100%;
  max-width: 800px; 
  max-height: calc(100% - 200px);
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 20px;
  animation: slideInFromTop 0.5s ease-out;
  margin: auto !important;
  z-index: 9999;
} */

/* @keyframes slideInFromTop {
  0% {
    top: -60px; 
    opacity: 0;
  }
  100% {
    top: 30%;
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    top: 30%;
    opacity: 1;
  }
  100% {
    top: -60px; 
    opacity: 0;
  }
} */

  }

